:root {
    --bg: #1e40af;
    --card: #ffffff;
    --primary: #3b82f6;
    --primary-hover: #2563eb;
    --border: #cbd5e1;
    --text: #0f172a;
    --muted: #64748b;
    --radius: 16px;
    --shadow: 0 25px 60px rgba(0, 0, 0, .18);
}


/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, Segoe UI, sans-serif;
}

body {
    background: var(--bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: var(--text);
}


/* NAVBAR */

.navbar {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
}


/* CONTAINER */

.container {
    background: var(--card);
    padding: 38px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    animation: fade .4s ease;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(20px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}


/* HEADER TEXT */

h1 {
    font-size: 26px;
    font-weight: 700;
    text-align: center;
}

.muted {
    font-size: 14px;
    color: var(--muted);
    text-align: center;
    margin-top: -10px;
}


/* FORM ROW */

.form-row {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/* INPUTS */

input {
    padding: 13px;
    border-radius: 12px;
    border: 1px solid var(--border);
    font-size: 14px;
    outline: none;
    transition: .2s;
}

input:focus {
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(59, 130, 246, .15);
}


/* FILE INPUT STYLE */

input[type="file"] {
    padding: 10px;
    background: #f8fafc;
    cursor: pointer;
}


/* LABEL*/

label {
    font-size: 13px;
    font-weight: 600;
}


/* BUTTON */

.btn {
    padding: 15px;
    border: none;
    border-radius: 14px;
    background: var(--primary);
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: .25s;
    box-shadow: 0 4px 15px rgba(59, 130, 246, .35);
}

.btn:hover {
    background: var(--primary-hover);
    transform: translateY(-1px);
}

.btn:active {
    transform: scale(.98);
}


/* RESULT BOX */

#splitResult {
    min-height: 60px;
    border: 1px dashed var(--border);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--muted);
    background: #f9fafb;
}


/* MOBILE */

@media(max-width:480px) {
    .container {
        padding: 26px;
    }
    h1 {
        font-size: 22px;
    }
}
